#main_menu a:focus {
    outline: none;
}
#main_menu {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
    margin-left:5px;
    width:960px;
    white-space:nowrap;
}
#main_menu li {
    display:inline-block;
    height:48px;
    overflow:hidden;
    text-align:center;
}
#main_menu a {
    background-color:black;
    padding:15px 20px 5px 20px;
    height:32px;
    text-decoration:none;
    display:block;
    color:white;
    font:13pt verdana;
    white-space: nowrap;
}
#main_menu a:hover {
    color:yellow;
}
#main_menu li ul {
    display:none;
    position:absolute;
    margin-left: 0px;
    top: 47px;
    z-index:150;
}
#main_menu li ul li {
    display:block;
    min-width:200px;
    text-align:left;
}
#main_menu li:hover ul {
    display:block;
}
#main_menu a.menuitem {
    background:url('/public/img/menubg.jpg') repeat-x;
}
#main_menu a.menuchilditem {
    background-color: #616161;
    border: 1px solid black;
}
#main_menu a.menuchilditem:hover {
    background-color: #4A4A4A;
}
#main_menu a.menuitem_active {
    background:url('/public/img/menubgactive.jpg') repeat-x;
}
#main_menu .menu_arrow {
    position:relative;
    display:inline-block;
    height:20px;
    width:14px;
    top:-31px;
    float:right;
    background:url('/public/img/arrow.jpg') no-repeat;
}

/* UA menu items width begin */
#main_menu_6_ua {
    width:160px;
}
#main_menu_7_ua {
    width:233px;
}
#main_menu_15_ua {
    width:108px;
}
#main_menu_16_ua {
    width:209px;
}
#main_menu_17_ua {
    width:124px;
}
/* UA menu items width end */

/* ru menu items width begin */
#main_menu_6_ru {
    width:160px;
}
#main_menu_7_ru {
    width:233px;
}
#main_menu_15_ru {
    width:108px;
}
#main_menu_16_ru {
    width:209px;
}
#main_menu_17_ru {
    width:124px;
}
/* ru menu items width end */