* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 5px 5px;
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {
    width: 980px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    /*	height: 150px;*/
    background: #000;
    padding: 5px;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
    width: 100%;
    padding: 0 0 100px;
    height: 1%;
    position: relative;
}
#middle:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
#container {
    width: 100%;
    float: left;
    overflow: hidden;
}
#content {
    padding: 0 270px 0 10px;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
    float: left;
    margin-right: -3px;
    width: 237px;
    margin-left: -247px;
    position: relative;
    background: #0b0b0b url('/public/img/bsidebar.gif') no-repeat bottom right;
    font: 14px/18px Arial, Tahoma, Verdana, sans-serif;
    min-height:  240px;
    outline: none;
}

.sidebarservice {
    border: 2px #404040 solid;
    color: white;
    font: 14px/18px Arial, Tahoma, Verdana, sans-serif;
    background: #0b0b0b url('/public/img/wsun.png') no-repeat top right;
    margin-bottom:  6px;
}
.sidebarservice h2{
    color: white;
    padding-left: 22px;
}

.sidebarservice input.lbut,.sidebarservice input.lbut:hover{
    background: url('/public/img/lbut.png') no-repeat;
    height: 40px;
    width: 229px;
    color: white;
    padding-bottom: 3px;
    border: 0px #404040 solid;
    margin: 0px 2px 2px 2px;
    font: 16px/18px Arial, Tahoma, Verdana, sans-serif;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    outline: none;
}

.sidebarservice input.lbut:hover{
    background: url('/public/img/lbuth.png') no-repeat;
}

.sidebarcontact {
    border: 0px #404040 solid;
    background: #e8e8e8 url('/public/img/boxb.png') repeat-y;
}


.sidebarbox h2{
    color: #404040;
}

.sidebarbox input{
    height: 20px;
    width: 196px;
    border: 0px solid #b2d1ff;
    margin-bottom: 6px;
    background: url('/public/img/ibox.png') no-repeat;
    padding-left: 3px;
}

.sidebarbox textarea{
    height: 72px;
    width: 192px;
    background: url('/public/img/tbox.png') no-repeat;
    padding-left: 3px;
    border: 0px solid #b2d1ff;
    margin-bottom: 6px;
}

.sidebarbox input.slbut,.sidebarbox input.slbut:hover{
    background: url('/public/img/slbut.png') no-repeat;
    height: 40px;
    width: 104px;
    margin-left: 93px;
    color: white;
    padding-bottom: 12px;

}

.sidebarbox input.slbut:hover{
    background: url('/public/img/slbuth.png') no-repeat;
    cursor: pointer;
}


.sidebarbox {
    background: #e8e8e8 url('/public/img/bsun.png') no-repeat top right;
    width: 215px;
    margin: 0px 8px;
    padding-left: 8px;
}

.ourwork {
    border: 2px #404040 solid;
    color: white;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
    width: 980px;
    margin: -100px auto 0;
    height: 100px;
    background: #BFF08E;
}

/* Blog
------------------------------------------------------------------*/
.blog {
    color: #bababa;
    width: 720px;
    margin: 10px;
    display: inline-block;
}

.blog_title {
    background: url('/public/img/ssun.png') no-repeat left center transparent;
    color: #bababa;
    padding-left: 46px;
    margin-bottom: 5px;

}

.blog_thumb {
    width: 230px;
    height: 180px;
}

.blog_stext {
    width: 400px;
    margin-left: 230px;

}
#simplemodal-overlay {
  background-color: #fff;  /* Тут выбираем цвет затемнения */
  cursor:wait;  /* Курсор при наведении на затемненную область */
  filter: alpha(opacity=80); /* Интенсивность затемнения */
  height: 100%;
}
#simplemodal-container {
  height:auto;   /* Для растягивания по высоте */
  width:400px;
  left:50%;  /*в купе с margin-left, которая равна минус половине ширины центруют по горизонтали*/
  top:50%;   /*центрует по вертикали, вместе с margin-top, если задать высоту*/
  margin-left:-200px;
  /* margin-top: -70px; */
  background-color:#fff;
  border:3px solid #ccc;
  padding: 10px;
}
#simplemodal-container a.modalCloseImg {
  background:url('/public/img/x.png') no-repeat;
  width:25px;  
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:0px;
  right:0px;
  cursor:pointer;
}