* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 5px 5px;

}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {
    width: 980px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: #000;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    /*	height: 150px;*/
    background: #000;
    padding: 5px;
    z-index: 100;
}


.alignright, .fr {
    float: right !important;
}

.langs, .contacts, .dats {
    height: 15px;
    padding: 10px 20px 0 10px;
    text-align: left;
    top: 5px;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
    width: 100%;
    padding: 0 0 100px;
    height: 1%;
    position: relative;
}
#middle:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
#container {
    width: 100%;
    float: left;
    overflow: hidden;
}
#content {
    padding: 0 270px 0 10px;
    color: white;
    line-height: 25px;
    font-family: comic sans ms,cursive;
    font-size: 20px;
}

#content h1{
    line-height: 35px;
    font-size: 22px;
    font-family: verdana;
    padding-top: 5px;
}

#content hr {
    margin-bottom: 10px;
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
    float: left;
    margin-right: -3px;
    width: 237px;
    margin-left: -247px;
    position: relative;
/*    background: #0b0b0b url('/public/img/bsidebar.gif') no-repeat bottom right;*/
    font: 14px/18px Arial, Tahoma, Verdana, sans-serif;
    min-height:  800px;
    outline: none;
}

.sidebarservice {
    border: 2px #404040 solid;
    color: white;
    font: 14px/18px Arial, Tahoma, Verdana, sans-serif;
    background: #0b0b0b url('/public/img/wsun.png') no-repeat top right;
    margin-bottom:  6px;
}
.sidebarservice h2{
    color: white;
    padding-left: 22px;
}

.sidebarservice input.lbut, input.frm_button_lbut {
    background: url('/public/img/lbut.png') no-repeat;
    height: 40px;
    width: 229px;
    color: white;
    padding-bottom: 3px;
    border: 0px #404040 solid;
    margin: 10px 2px 2px 2px;
    font: 16px/18px Arial, Tahoma, Verdana, sans-serif;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    outline: none;
}

.sidebarservice input.lbut:hover,  input.frm_button_lbut:hover{
    background: url('/public/img/lbuth.png') no-repeat;
}

.sidebarcontact {
    border: 0px #404040 solid;
    background: #e8e8e8 url('/public/img/boxb.png') repeat-y;
}


.sidebarbox h2{
    color: #404040;
}

.sidebarbox input{
    height: 20px;
    width: 196px;
    border: 0px solid #b2d1ff;
    margin-bottom: 6px;
    background: url('/public/img/ibox.png') no-repeat;
    padding-left: 3px;
}

.sidebarbox textarea{
    height: 72px;
    width: 192px;
    background: url('/public/img/tbox.png') no-repeat;
    padding-left: 3px;
    border: 0px solid #b2d1ff;
    margin-bottom: 6px;
}

.sidebarbox input.slbut,.sidebarbox input.slbut:hover, input.frm_button_slbut{
    background: url('/public/img/slbut.png') no-repeat;
    height: 40px;
    width: 104px;
    margin-left: 93px;
    color: white;
    padding-bottom: 12px;

}

.sidebarbox input.slbut:hover {
    background: url('/public/img/slbuth.png') no-repeat;
    cursor: pointer;
}

input.frm_button_slbut{
    background: url('/public/img/slbut.png') no-repeat;
    height: 40px;
    width: 104px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    border-style: hidden;
}

input.frm_button_slbut:hover{
    background: url('/public/img/slbuth.png') no-repeat;
    cursor: pointer;
}


.sidebarbox {
    background: #e8e8e8 url('/public/img/bsun.png') no-repeat top right;
    width: 215px;
    margin: 0px 8px;
    padding-left: 8px;
}

.ourwork {
    border: 2px #404040 solid;
    color: white;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
    width: 980px;
    margin:  auto;
    min-height: 100%;
    min-width: 100%;
    height: auto !important;
    height: 100px;
    background-color: #000;    
    color: yellow;
/*    border-top: 4px white solid;*/
    bottom: 0;
/*    border: solid red 1px;*/
    float: left;
/*    margin: -100px auto 0;*/

/*    background: #BFF08E;*/
}

#subfooter {
    background-color: #000000;
    height: auto !important;
    margin: 0 auto;
    min-height: 100%;
    width: 960px;
    border-top: 4px white solid;
    font-size: 17px; 
}


/* Blog
------------------------------------------------------------------*/
.blog{
    color: #bababa;
    width: 720px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    font-family: verdana;
    font-size: 12px;
}

.blog a{
    color: #bababa;
    text-decoration: none;
}

.blog a:hover{
    color: yellow;
    border-bottom: yellow dotted  1px;
    text-decoration: blink;
}

.blog_title{
    background: url('/public/img/ssun.png') no-repeat left center transparent;
    color: #bababa;
    padding-left: 46px;
    margin-bottom: 5px;
    text-decoration: none;
}

.blog_thumb {
    width: 230px;
    height: 180px;
}

.blog_stext {
    width: 400px;
    margin-left: 230px;
    font-size: 16px;

}

.paginationControl a{
    color: yellow;
}


#simplemodal-overlay {
  background-color: #fff;  /* Тут выбираем цвет затемнения */
  cursor:wait;  /* Курсор при наведении на затемненную область */
  filter: alpha(opacity=80); /* Интенсивность затемнения */
  height: 100%;
}
#simplemodal-container {
  height:auto;   /* Для растягивания по высоте */
  width:400px;
  left:50%;  /*в купе с margin-left, которая равна минус половине ширины центруют по горизонтали*/
  top:50%;   /*центрует по вертикали, вместе с margin-top, если задать высоту*/
  margin-left:-200px;
  /* margin-top: -70px; */
  background-color:#fff;
  border:3px solid #ccc;
  padding: 10px;
}
#simplemodal-container a.modalCloseImg {
  background:url('/public/img/x.png') no-repeat;
  width:25px;  
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:0px;
  right:0px;
  cursor:pointer;
}

/* Slideshow on Page */
/*.slideshow-thumbnails {
    margin-top: 3px;
}

.slideshow-thumbnails li{
    display: inline-block;
    margin-right: 3px;
}
*/
#show,  #showvideo {
    width: 700px;
    height: 402px;
    margin-bottom: 80px;
}
/*
.slideshow-thumbnails{bottom:-65px;height:65px;left:0;position:absolute;width:100%;}
.slideshow-thumbnails *{margin:0;padding:0;}
.slideshow-thumbnails ul{height:65px;left:0;position:absolute;top:0;width:10000px;}
.slideshow-thumbnails li{float:left;list-style:none;margin:5px 5px 5px 0;position:relative;}
.slideshow-thumbnails a{display:block;float:left;padding:5px;position:relative;}
.slideshow-thumbnails a:hover{background-color:#FF9!important;opacity:1!important;}
.slideshow-thumbnails img{display:block;}
.slideshow-thumbnails-active{background-color:#9FF;opacity:1;}
.slideshow-thumbnails-inactive{background-color:#FFF;opacity:.5;}
.slideshow-thumbnails{overflow:hidden;}
.slideshow{height:400px;margin:0 auto;width:700px;}
.slideshow a img{border:0;}

.slideshow-images{display:block;overflow:hidden;position:relative;}
.slideshow-images img{display:block;position:absolute;z-index:1;}
.slideshow-images{height:300px;width:400px;}
.slideshow-images-visible{opacity:1;}
.slideshow-images-prev{opacity:0;}
.slideshow-images-next{opacity:0;}
.slideshow-images img{float:left;left:0;top:0;}*/


/* Blog comment*/
.show_blog_entry {
    padding-left: 2px;
}


.comment {
/*    margin-left: 100px;*/
/*    border: 1px solid blue;*/
}

.comment input, .comment textarea{
    width: 350px;
}

.comment td{
    width: 150px;
}

div.textcomment{
    margin-left: 100px;
    color: red;
    float: left;
}


div.textinput{
   
    color: red;
    position: relative;
    float: left;
}

.field_name {
    font-size: 16px;
    font-weight: bold;
    height: 26px;
    position: absolute;
    width: 140px;
    font: 18px/21px Arial,Tahoma,Verdana,sans-serif;
    color: white;
}

.field {
    color: #999999;
    margin-top: 10px;
}

.field_input {
    border: 1px solid #CACACA;
    color: #565656;
    font-size: 16px;
    height: 26px;
    margin-left: 145px;
    padding: 1px;
    width: 315px;
}

.errors {
    color: red;
    font-style: italic;
    font-size:0.6em;
    margin:0;
    padding:0;
}

.audiolist {
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px; 
}